.users_module {
  
  padding: 48px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .heading{
    font-size: 30px;
    margin-bottom: 16px;
    font-weight: 700;
  }

  .frame39{
    display: flex;
    gap: 28px;
    flex-direction: column;
  }

  .user_detail_row {
    min-height: 55px;
    
    .user_detail_header {
      width: 135px;
      border: 1px solid #F5F5F5;
      background-color: #FAFAFA;
      padding: 8px;
    }

    .user_detail_data {
      width: 377px;
      border: 1px solid #F5F5F5;
      background-color: #FFFFFF;
      padding: 16px 8px 16px 8px;
    }
  }

  .frame41 {
    display: flex;
    gap: 28px;
    flex-direction: column;
  }

  .user_prototype_heading{ 
    font-size: 30px;
    font-weight: 700;
  }

  .user_prototypes_area {
    width: 100%;
    gap: 27px;
    display: flex;
    justify-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .edit-btn {
    width: 88px;
    height: 28px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    font-size: 12px;
    text-decoration: none;
    background-color: #FFFFFF;
    white-space: nowrap;
    margin-bottom: 15px;
  }
}