<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザー詳細ページ</title>
  <!--  -->
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  <!--  -->
  <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/users/detail.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <!-- Frame3 -->
  <th:block th:replace="~{header :: header}"></th:block>

  <!-- Frame4 -->
  <div class="main_container">
    <div class="users_module">
      <!-- Frame39 -->
      <div class="frame39">
        <h1 class="heading">
          <span th:text="${user.name}"></span>さんの情報
        </h1>
        <!-- Frame38 -->
        <div>
          <div class="user_menu" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.id == user.id}">
            <!-- Frame5 -->
            <div th:if="${#authorization.expression('isAuthenticated()') and #authentication?.principal.getId() == user.id}">
              <a th:href="@{/users/{id}/edit(id=${user.id})}" class="edit-btn" >編集する</a>
            </div>
          </div>
          <table>
            <tr class="user_detail_row">
              <th class="user_detail_header">名前</th>
              <td class="user_detail_data" th:text="${user.name}"></td>
            </tr>
            <tr class="user_detail_row">
              <th class="user_detail_header">プロフィール</th>
              <td class="user_detail_data" th:text="${user.profile}"></td>
            </tr>
            <tr class="user_detail_row">
              <th class="user_detail_header">所属</th>
              <td class="user_detail_data" th:text="${user.affiliation}"></td>
            </tr>
            <tr class="user_detail_row">
              <th class="user_detail_header">役職</th>
              <td class="user_detail_data" th:text="${user.position}"></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Frame41 -->
      <div class="frame41">
        <h2 class="user_prototype_heading">
          <span th:text="${user.name}"></span>さんのプロトタイプ
        </h2>
        <div class="contents">
          <div th:each="prototype : ${prototypes}" class="content_prototype">
            <div th:insert="~{prototype :: prototype}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Frame18 -->
  <th:block th:replace="~{footer :: footer}"></th:block>
</body>
</html>