<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザー情報編集ページ</title>
  <!--  -->
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  <!--  -->
  <link th:href="@{/css/users/form.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
  <th:block th:replace="~{header :: header}"></th:block>
  <div class="main_container">

    <div class="users_module">
      
      <h1 class="heading">ユーザー情報編集</h1>
      
      <ul th:if="${errorMessages != null and !errorMessages.empty}">
        <li th:each="message : ${errorMessages}" th:text="${message}" style="color: red;"></li>
      </ul>

      <form th:action="@{/user/{id}/update(id=${userId})}" th:method="post" th:object="${userForm}" class="user_form">

        <div class="user_field_area">
          <div class="user_field">
            <label for="email">メールアドレス</label>
            <input type="email" id="email" th:field="*{email}"  autofocus="autofocus"/>
          </div>

          <div class="user_field">
            <label for="name">ユーザー名</label>
            <input type="text" id="name" th:field="*{name}"  autofocus="autofocus" />
          </div>

          <div class="user_field">
            <label for="profile">プロフィール</label>
            <textarea id="profile" th:field="*{profile}"></textarea>
          </div>
          
          <div class="user_field">
            <label for="affiliation">所属</label>
            <textarea id="affiliation" th:field="*{affiliation}"></textarea>
          </div>

          <div class="user_field">
            <label for="position">役職</label>
            <textarea id="position" th:field="*{position}"></textarea>
          </div>
        </div>
        
        <button class="submit_button" type="submit">保存する</button>
      </form>
    </div>
  </div>
  <th:block th:replace="~{footer :: footer}"></th:block>
</body>
</html>