<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample</title>
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/sample.css}" rel="stylesheet" type="text/css">
</head>
<body class="body">
  <th:block th:replace="~{header :: header}"></th:block>
  <div class="main_container">
    
    <h1>ユーザーログイン</h1>

    <p th:if="${loginError}" class="login-error" th:text="${loginError}"></p>

    <form th:method="post" th:action="@{/login}" class="login">
      
      <div class="field">
        <label class="column-title">メールアドレス</label><br />
        <input type="text" id="email" name="email" autofocus="autofocus" required="required" />
      </div>

      <div class="field">
        <label class="password">パスワード（6文字以上）</label><br />
        <input type="password" name="password" required="required" autocomplete="off" />
      </div>

      <div class="actions">
        <input type="submit" value="ログイン">
      </div>

    </form>

  </div>
  <th:block th:replace="~{footer :: footer}"></th:block>
</body>
</html>