<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  -->
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
  <!--  -->
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/users/form.css}" rel="stylesheet" type="text/css">
  <title>ユーザーログインページ</title>
  
</head>
<body class="body">
  <th:block th:replace="~{header :: header}"></th:block>
  <div class="main_container">
    
    <div class="users_module">

      <h1 class="heading">ユーザーログイン</h1>

      <p th:if="${loginError}" class="login-error" th:text="${loginError}"></p>

      <form th:method="post" th:action="@{/login}" class="user_form">
        <div class="user_field_area">

          <div class="user_field">
            <label class="column-title">メールアドレス</label>
            <input type="email" id="email" name="email" autofocus="autofocus" required="required" />
          </div>

          <div class="user_field">
            <label class="password">パスワード（6文字以上）</label>
            <input type="password" name="password" required="required" autocomplete="off" />
          </div>

        </div>

        <button class="submit_button" type="submit">ログイン</button>

      </form>

    </div>
  </div>
  <th:block th:replace="~{footer :: footer}"></th:block>
</body>
</html>