* {
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  overflow-y: overlay;
  scrollbar-gutter: stable; /* スクロールバー用のスペースを常に確保する */
  /* 背景（トラック）を透明にする */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  /* つまみ（ハンドル）のデザイン */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* 半透明にする */
    border-radius: 10px;
    border: 2px solid transparent; /* 余白を作って浮いているように見せる */
    background-clip: content-box;  /* 背景をコンテンツ内に収める */
  }

}

/* ヘッダー */
.header{
  box-sizing: border-box;
  height: 77.5px;
  width: 100vw;
  background-color: #F1F8FE;
  display: flex;
  justify-content: space-between;
  padding: 20px 208px;
}

.logo{
  width: 200px;
  height: 37.5px;
}

.nav{
  height: 31px;
  width: 234px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.button{
  padding: 5px 20px 6px 20px;
  font-size: 14px;
  color: #87CEFA;
  border: #87CEFA 1px solid;
  text-decoration: none;
}

.button_logout{
  padding: 5px 20px 6px 20px;
  font-size: 14px;
  color: #87CEFA;
  border: none;
  background: none;
  text-decoration: none;
}

/* フッター */
.footer{
  box-sizing: border-box;
  height: 34px;
  width: 100vw;
  padding: 10px;
  background-color: #999999;
  text-align: center;
}

.copyright{
  color: #FFFFFF;
  font-size: 10px;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  min-height: 100vh;
  margin: 0;
}

/* メインコンテナ */
.main_container{
  flex: 1;
  margin: 0 20vw;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  プロトタイプ部分テンプレート */
.explain {
  width: 100%; 
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.prototype-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  background-color: #909090;
  display: block;
}

.info {
  width: 100%;
  height: auto;
  font-family: "Noto Sans CJK JP", sans-serif;
  color: #3B4043;
}

.title {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.catchphrase {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.name {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  
  text-align: right; 
  
  color: #999999;
  text-decoration: underline;
  margin-top: 4px;

  a {
    color: inherit;
  }
}

.search-result-header{
  margin-top: 50px;
  text-align: center;
}

.search-form{
  display: flex;
  align-items: center;
}

.search-input{
  margin-right: 10px;
  background-color: #f5f8fc;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 8px 15px;
  color: #999999;
}

.search-btn{
  background-color: #87CEFA;
  color: white;
  height: 30px;
  border: none;
  padding: 5px 20px 6px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
}