/* ヘッダー */
.header{
  box-sizing: border-box;
  height: 77.5px;
  width: 100%;
  background-color: #F1F8FE;
  display: flex;
  justify-content: space-between;
  padding: 20px 208px;
}

.logo{
  width: 200px;
  height: 37.5px;
}

.nav{
  height: 31px;
  width: 234px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.button{
  padding: 5px 20px 6px 20px;
  font-size: 14px;
  color: #87CEFA;
  border: #87CEFA 1px solid;
  text-decoration: none;
}

.button_logout{
  padding: 5px 20px 6px 20px;
  font-size: 14px;
  color: #87CEFA;
  border: none;
  background: none;
  text-decoration: none;
}

/* フッター */
.footer{
  box-sizing: border-box;
  height: 34px;
  width: 100%;
  padding: 10px;
  background-color: #999999;
  text-align: center;
}

.copyright{
  color: #FFFFFF;
  font-size: 10px;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  min-height: 100vh;
  margin: 0;
}

/* メインコンテナ */
.main_container{
  flex: 1;
  margin: 0 20vw;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  プロトタイプ部分テンプレート */
.explain{
  width: 324px;
  height: 85px;
  gap: 8px;
}

.image{
  width: 324px;
  height: 324px;
  background-color: #909090;
  display: block;
  object-fit: cover;
  min-height: 324px;
  display: block;
  object-fit: cover;
  min-height: 324px;
}

.info{
  width: 191px;
  height: 60px;
  font-family: "Noto Sans CJK JP", sans-serif;
  gap: 8px;
  color: #3B4043;
}

.title{
  width: 140px;
  height: 29px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.catchphrase{
  width: 191px;
  height: 23px;
  font-weight: 400;
  font-size: 16px;
}

.name{
  width: 324px;
  height: 17px;
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: #999999;
  text-decoration-line: underline;
  
  a{
    /* 親と同じ色にする */
    color: inherit; 
  }
}