.contents{
  width: 100%;
  width: 100%;
  gap: 27px;
  display: flex;
  justify-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.contents_area {
  width: 1026px;
  margin: 0 auto;
  padding: 48px 0;
  box-sizing: border-box;
}

.content_prototype{
  width: 324px;
  height: 425px;
  display: flex;
  flex-direction: column;
}

.welcome_message {
  font-weight: 400;
  font-size: 16px;
  color: #3B4043;

  .login_user_mypage {
    text-decoration-line: underline;
    color: inherit;
  }
}