.search-result-header{
  margin-top: 50px;
  text-align: center;
}

.contents_area {
  width: 100%;
  padding: 48px 0;
  box-sizing: border-box;
}

.contents{
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.content_prototype{
  width: calc((100% - 40px) / 3);
  box-sizing: border-box;
}