/*  プロトタイプ詳細ページ */

*{
  font-family: "Noto Sans JP", sans-serif;
}

.contents_row{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  min-height: 939px;
  padding: 48px 208px 48px 208px;
  gap: 16px;
  background-color: #FFFFFF;
}

.content_post{
  width: 324px;
  height: 445px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.proto_name {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.proto_titles {
  width: 100%;
  height: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
    
}

.proto_title{
  width: 168px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.proto_title p {
  font-family: "Noto Sans JP", sans-serif; 
  font-size: 24px;
  font-weight: 700; 
  line-height: 1.0;
  color: #3B4043;
;
}

.username-link {
  display: block;
  width: 100%;
  height: 26px;
  color: #999999;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  font-weight: 400; 
  font-style: normal;
  text-align: center;
  line-height: 1.0;
  letter-spacing: 0;
  text-decoration: underline;
  text-decoration-style: solid;
}

.proto_menu {
  width: 184px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

}


.edit-btn, .delete-btn {
  width: 88px;
  height: 28px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 20px 6px 20px;
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999999;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
}

.header{
  box-sizing: border-box;
  height: 77.5px;
  width: 100%;
  background-color: #F1F8FE;
  display: flex;
  justify-content: space-between;
  padding: 20px 208px;
}

.logo{
  width: 200px;
  height: 37.5px;
}

.nav{
  height: 31px;
  width: 234px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.button{
  padding: 5px 20px 6px 20px;
  font-size: 14px;
  color: #87CEFA;
  border: #87CEFA 1px solid;
  text-decoration: none;
}

.button_logout{
  padding: 5px 20px 6px 20px;
  font-size: 14px;
  color: #87CEFA;
  border: none;
  background: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  min-height: 100vh;
}

.contents_area{
  width: 1440px; 
  height: 859px;
  padding: 48px 208px;
  gap: 10px;
  overflow-y: auto;
  flex: 1; /* Footerを最下部に固定するために指定 */
}

.contents{
  width: 1026px;
  height: 730px;
  gap: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content_prototype{
  width: 324px;
  height: 425px;
  display: flex;
  flex-direction: column;
}

.image{
  width: 324px;
  height: 324px;
  background-color: #909090;
}

.content_detail{
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.post-text{
  width: 100%;
  max-width: 1024px;
  height: 135px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

}

.catchphrase_box{
  width: 255px;
  height: 52px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.catchphrase_more{
  width: 140px;
  height: 29px;
}

.catchphrase_more p {
  font-family: "Noto Sans JP", sans-serif; 
  font-size: 20px;
  font-weight: 700; 
  font-style: normal;
  line-height: 1.0;
  letter-spacing: 0;
  color: #3B4043;
}

.catchphrase_text{
  width: 255px;
  height: 23px;
}

.catchphrase_text p{
  font-family: "Noto Sans JP", sans-serif; 
  font-size: 16px;
  font-weight: 400; 
  font-style: normal;
  line-height: 1.0;
  letter-spacing: 0;
  color: #3B4043;
}

.concept_box{
  width: 100%;
  max-width: 1024px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.concept_more{
  width: 100px;
  height: 29px;
}

.concept_more p{
  font-family: "Noto Sans JP", sans-serif; 
  font-size: 20px;
  font-weight: 700; 
  font-style: normal;
  line-height: 1.0;
  letter-spacing: 0;
  color: #3B4043;
}

.concept_text{
  width: 1024px;
  height: 46px;
}

.concept_text p{
  font-family: "Noto Sans JP", sans-serif; 
  font-size: 16px;
  font-weight: 400; 
  font-style: normal;
  line-height: 1.0;
  letter-spacing: 0;
  color: #3B4043;
  height:324px;
  background-color: #909090;
}

.explain{
  width: 324px;
  height: 85px;
  gap: 8px;
}

.info{
  width: 191px;
  height: 60px;
  font-family: "Noto Sans CJK JP", sans-serif;
  gap: 8px;
  color: #3B4043;
}

.title{
  width: 140px;
  height: 29px;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.catchphrase{
  width: 191px;
  height: 23px;
  font-weight: 400;
  font-size: 16px;
}

.name{
  width: 324px;
  height: 17px;
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: #999999;
  text-decoration-line: underline;
  
  a{
    /* 親と同じ色にする */
    color: inherit; 
  }
}

.footer{
  box-sizing: border-box;
  height: 34px;
  width: 100%;
  padding: 10px;
  background-color: #999999;
  text-align: center;
}

.copyright{
  color: #FFFFFF;
  font-size: 10px;
}