<!DOCTYPE html>
<th:block th:fragment="affiliationDialog"  xmlns:th="http://www.thymeleaf.org">
  <dialog id="affiliationDialog" class="feature-dialog">
    <div class="dialog-header">
      <h3>所属設定</h3>
    </div>
    
    <div class="dialog-body">
      <form id="affiliationForm">
        <label for="department">部署:</label>
        <input type="text" name="affiliation" id="affiliationInput">
      </form>
    </div>
    
    <div class="dialog-footer">
      <button type="button" id="closeAffiliationDialogBtn">
        キャンセル
      </button>
      <button type="button" form="affiliationForm" id="saveAffiliationBtn" th:data-url="@{/api/affiliations}">
        保存
      </button>
    </div>
  </dialog>

  <style>
    dialog {
      border: none;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }
    dialog::backdrop {
      background: rgba(0, 0, 0, 0.5);
    }
    .dialog-footer {
      margin-top: 15px;
      text-align: right;
    }
  </style>

  <script>

    // モーダル制御
    document.addEventListener("DOMContentLoaded", () => {
      
      const affiliationDialog = document.getElementById("affiliationDialog");
      
      // 閉じるボタンが押されたらclose
      document.getElementById("closeAffiliationDialogBtn").addEventListener("click", (e) => {
        e.preventDefault();
        affiliationDialog.close();
      });
      
    })

  </script>
</th:block>