<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/prototype.css}" rel="stylesheet" type="text/css">

    <title>PROTO SPACE</title>
  </head>

  <body>
    <th:block th:replace="~{header :: header}"></th:block>
    <div class="contents">
      <div class="container">
        <h2>新規プロトタイプ投稿</h2>
        
        <form th:action="@{/prototypes}" th:method="post" th:object="${prototypeForm}" enctype="multipart/form-data">
          
          <div class="field">
          <label>プロトタイプの名称</label><br />
          <input type="text" th:field="*{title}">
          </div>


          <div class="field">
          <label>キャッチコピー</label><br />
          <textarea th:field="*{catchphrase}"></textarea>
        
          </div>


          <div class="field">
          <label>コンセプト</label><br />
          <textarea th:field="*{concept}"></textarea>
          
          </div>


          <div class="field">
          <label>プロトタイプの画像</label><br />
          <input type="file" th:field="*{image}">
          
          </div>


          <div class="actions">
          <input type="submit" value="保存する">
          </div>
        </form>
      </div>
    </div>
    <th:block th:replace="~{footer :: footer}"></th:block>
  </body>
</html>