<!DOCTYPE html>
<html>
  <head>


  </head>
  <body>
    <th:block th:replace="~{header :: header}"></th:block>
    <div class="contents">
      <div class="container">
        <h1>新規プロトタイプ投稿</h1>
        <form th:action="@{/prototypes}" th:method="post" th:object="${prototypeForm}" enctype="multipart/form-data">
          <div class="field">
          <label>プロトタイプの名称</label>
          <input type="text" th:field="*{title}">
          </div>


          <div class="field">
          <label>キャッチコピー</label>
          <input type="text" th:field="*{catchphrase}">
          </div>


          <div class="field">
          <label>コンセプト</label>
          <input type="text" th:field="*{concept}">
          </div>


          <div class="field">
          <label>プロトタイプの画像</label><br />
          <input type="text" th:field="*{image}" placeholder="https://example.com/image.jpg">
          </div>


          <div class="actions">
          <input type="submit" value="保存する">
          </div>
        </form>
      </div>
    </div>
  </body>
  <th:block th:replace="~{footer :: footer}"></th:block>
</html>