<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sample</title>
  <link th:href="@{/css/reset.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/sample.css}" rel="stylesheet" type="text/css">
</head>
<body class="body">
  <th:block th:replace="~{header :: header}"></th:block>
  <div class="main_container">
    <!-- サンプルページなので後でトップページにも実装 -->
    <div>
      <span th:text="${#authentication?.principal.getName()}"></span>さん
    </div>
  </div>
  <th:block th:replace="~{footer :: footer}"></th:block>
</body>
</html>