<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
  <title>PROTO SPACE</title>
</head>

<body>

<div th:insert="~{header :: header}"></div>

<div class="contents_area">
  <div sec:authorize="isAuthenticated()" th:if="${name != null}">
    <p th:text="${name} + 'さん、こんにちは'"></p>
  </div>
  <div class="contents">
    <div th:each="prototype : ${prototypes}" class="content_prototype">
      <div th:insert="~{prototype :: prototype}"></div>
    </div>
  </div>
</div>

<div th:insert="~{footer :: footer}"></div>

</body>
</html>